.review{
    position: relative;
font-size: 1.3rem;
padding: 3rem;
background-color: #ffffff;
box-shadow: var(--shadow-light);
margin-block-end: 3.5rem;
overflow: hidden;
    &__text{
position: relative;
    }
    &__user{
display: flex;
margin-block-start: 3rem;
justify-content: space-between;
align-items: center;
    }
    &__photo{
border-radius: 50%;
height: 5rem;
    }
    &__user-box{

    }
    &__user-name{
font-weight: 600;
text-transform: uppercase;

    }
    &__user-date{

    }
    &__rating{
        font-weight:300;
        color: var(--color-Primary);
font-size: 200%;
    }
    &::before{
        content:"\201C" ;
        position: absolute;
        top:-2.5rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-Grey-light-2);
        font-family: sans-serif;
    }
}